<head>
  <meta charset="UTF-8">
</head>

<body>
  
<h1> Biblioteca MVC </h1> 

<h2> Pesquisa de Livros </h2> 

<form action="/pesquisa" method="GET">
  <fieldset>
    <legend>Autor</legend>
    <input name="autor" autofocus>
    <input type="submit" value="Pesquisar">

    <p><small>Nomes válidos: valente, fowler e gof</small></p>
  </fieldset>
</form>

<form action="/pesquisa" method="GET">
  <fieldset>
    <legend>ISBN</legend>
    <input name="isbn" autofocus>
    <input type="submit" value="Pesquisar">

    <p><small>Valores válidos: 1, 2 e 3</small></p>
  </fieldset>
</form>

<footer>
  <p><small>Você pode também ver o código fonte; basta clicar em "Show Files".</small></p>
</footer>

</body>